extends ../layout
block content
    article
      form(action="/topic" method="post")
        p
          input(type="text" name="title" placeholder="제목을 입력해주세요.")
        p
          textarea(name="description")
        p
          input(type="text" name="author" placeholder="저자명")
        p
          input(type="submit" value="글쓰기")
          input(type="reset" value="다시 쓰기")
