extends ../layout
block content
    article
      if topic
        h2= topic.title
        = topic.description
        div= 'by ' + topic.author

      else
        h2 Welcome!
        | This is server side Javascript tutorial.

    ul
      li
        a(href="/topic/add") 글쓰기
      if topic
        li
          a(href='/topic/' + topic.id + '/edit') 글수정
        li
          a(href='/topic/' + topic.id + '/delete') 글삭제
